@import '../../index.scss';

.registration-view {
  background-image: url('../../img/movie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 40px);
  .registration-card {
    height: 500px;
    width: 400px;
    background-color: rgba(0,0,0,0.6) !important;
    .registration-card__header {
      font-size: 25px;
    }
    .registration-card__prepend{
      width: 50px;
      background-color: $primary;
      color: $color-secondary;
      display: flex;
      justify-content: center; 
      align-items: center;
      border-radius: 2px 0px 0px 2px; 
    }
  }
}
