@import "custom";

$color: white;
$color-secondary: black;
$primary:#ffc312;
$secondary: #231f20;
$secondary-lighter: lighten($secondary, 5%);

.my-flix {
  background-color: $secondary;
  color: $color;
  padding: 0;
  min-height: 100vh;
}

.error-message {
  position: fixed;
  bottom: 0;
  right: 0
}
